
html {
	overflow: hidden;
}


body 
{ behavior:url("./CSS/csshover.htc");
	background:#225577; 
	padding:0; 
	border:0; 
	margin:0; 
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	color:#000; 
	overflow: hidden;
}

.search 
{
	font-weight:bold;
	width:206px;
	margin:4px;
	height:571px;
	padding:0px;
	left:0px;
	top:0px;
	position:absolute;
	background:#6699bb;
	border: 1px solid #000;	
	border-right:0;
	filter:progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=2, Color='#333333', Positive='true');
}



.detailFrame 
{
	text-align:center;
	width:799px;
	margin:0;
	height:571px;
	padding:0;
	left:198px;
	top:4px;
	position: absolute;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#6699bb', EndColorStr='#ffffff')
	progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=2, Color='#333333', Positive='true');
	border: 1px solid #000; 
	border-left:0;
}

.containerTable 
{
	background:#999;
	border: 1px solid #000;
	padding:0px;
	margin:0px;
}

.titleBar 
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#555555', EndColorStr='#225577')
progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color='#225577', Positive='true');
	font-weight:bold;
	text-align:left;
	color:#fff;
	padding: 0 0 0 2px;
	margin: 2px 0 0 0;
	vertical-align:middle;
	border: 1px solid #000;
}	
.titleBarL 
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FED306', EndColorStr='#225577')
progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color='#225577', Positive='true');
	font-weight:bold;
	text-align:left;
	color:#000;
	padding: 0 0 0 2px;
	margin: 2px 0 0 0;
	vertical-align:middle;
	border: 1px solid #000;
}	


.menuMinWidth1 
{
	width:95%;
	min-width:548px; 
}
	
* html .menuMinWidth2 
{
	padding-left:-548px; 
}
/*\*/
* html .menuMinWidth2, * html .layout 
{
	height:1px; 
}


	
.searchButton 
{
	background:#aaa;
	font-weight:bold;
	text-align:center;
	color:#000;
	padding:1px; 
}	


.searchCriteria
{
	margin:4px;
	width:204px;
height:320px;
}
	
.searchResult 
{
	position:absolute;
	top:212px;
	width:192px;
	left:4px;
}	

.resultList 
{
	text-align:left;
	color:#000;
	background:#fff;
	margin:0px;
	padding: 0px;
	overflow:auto;
	overflow-x:hidden;
	height:327px;
	width:178px;
	font-weight:normal;
	border: 1px solid #000;
}
.resultListU 
{
	text-align:left;
	color:#000;
	background:#fff;
	margin-left:0;
	padding: 2px 0 0 6px;
	overflow:auto;
	overflow-x:hidden;
	height:165px;
	width:165px;
	filter:progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color='#225577', Positive='true');
}		
.resultList hr 
{
	margin:0;
	font-size:1pt;
	line-height:1%;
	text-align:center;
	width:100%;
	margin:-2px 4px -2px 4px;
}

.resultList a 
{
	font-weight:bold;
	text-decoration:none;
	color:#0F25C8;
}

.resultList a:hover 
{
	text-decoration:underline;
}

.bodyText 
{
	font-size:12px;
	font-family:Courier;
	background:#fff;
	color:#000;
	padding:0;
	vertical-align:baseline;
}	
.loadingText 
{
	font-size:12px;
	background:#fff;
	color:#000;
	padding:5;
	vertical-align:middle;
	text-align: center;	
	font-weight:bold;
}		
.dT1 .dL,.dT1 .dLL,.dT1 .dLC,.dL ,.dLL,.dLC
{
	font-weight:bold;
	color:#000;
	text-align: right;
	vertical-align: baseline;
	background-color:Transparent;
}
.dT1 .dLL,.dLL 
{
	text-align:left;
	vertical-align:bottom;
}

.dT1 .dLC ,.dLC
{
	text-align:center;
	vertical-align:bottom;
}

.tableTitle,.dT1 .tableTitle
{
	font-size:13px;
	font-weight:bold;
	color:#000;
	padding-left:10px;
	text-align:left;
	vertical-align:bottom;
	background-color:#ccc;
}
.dT1 .tableTitle2
{
	font-size:13px;
	font-weight:bold;
	color:#000;
	padding-left:2px;
	padding-bottom:2px;
	text-align:left;
	vertical-align:top;
	background-color:#ccc;
}
.dT1 .tableTitle3
{
	padding-left:2px;
	font-size:13px;
	font-weight:bold;
	color:#000;
	text-align:left;
	border:0;
	vertical-align:top;
	background-color:#ccc;
}
.dT,.dTR,.dTC   
{
	color: #000;
	background-color: #fff;
	text-align: left;
	vertical-align: top;
}
.dTR 
{
	text-align:right;
}
.dTC 
{
	text-align:center;
}
.dTC2
{
	text-align:center;
	font-size: 14px;
	font-weight:bold;
}
.dT1 
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ddeeff', EndColorStr='#ffffff')
	progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color='#225577', Positive='true');
	border: solid 1px #000;
	padding: 0;
	margin: 2px 0 0 0;
}
.aST 
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ddeeff', EndColorStr='#ffffff')
	progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color='#225577', Positive='true');
		border: 0;
	padding: 0;
	margin:0;
}
.dT1 td
{
	border-right:solid 1.0px #999;
	border-bottom:solid 1.0px #999;
	background:#fff;
}
.dHC, .dT1 .dHC 
{
	font-weight:bold;
	color:#000;
	text-align:center;
	vertical-align:bottom;
	background:#ccc;
	border-right:solid 1.0px #225577;
	border-bottom:solid 1.0px #225577;
	white-space:normal;
}

.dHC3 {
text-align:left;
}
.searchTable 
{
	background:#ccc;
	filter:progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color='#225577', Positive='true');
	vertical-align:top;
	border:solid 1px #000;
	padding:0;
	width:162px;
	margin:0;
}
.searchTable td
{
	border-right:solid 1.0px #999;
	border-bottom:solid 1.0px #999;
}
.imgButtons
{
	margin-bottom:-5px;
}
.searchSpacer 
{
	height:2px;
	font-size:1pt;
	width:100%;
}	
#logo
{
	display:block;
	z-index:1;
	top:2px;
	background-color:transparent;
}
#bg
{
	display:block;
	z-index:2;
	margin-top:140px;
	background-color:transparent;
}
.trans 
{
	border-color:#aaa;
	background-color:#aaa;
}
.slider
{
	left:2px;
	top:3px;
	height:14px;
	width:22px;
	position:absolute;
	display:block;
	float:left;
	cursor:hand;
	z-index:58;
	border-width:0px;
}
.widgetMenu2 
{
	position:absolute;
	top:5px;
	left:48px;
	height:29px;
	width:617px;
	margin:0;
	margin-top:0px;
	padding:0;
	z-index:58;
}
.widgetMenu 
{
	position:absolute;
	vertical-align:top;
	top:3px;
	left:41px;
	height:17px;
	width:700px;
	text-align:left;
	margin:0;
	margin-top:0px;
	padding:0;
	z-index:28;
	white-space:nowrap; 
}
.widgetMenu3 
{
	position:absolute;
	vertical-align:top;
	top:3px;
	left:41px;
	height:17px;
	width:700px;
	text-align:left;
	margin:0;
	margin-top:0px;
	padding:0;
	z-index:28;
	white-space:nowrap; 

}
.widgetMenu2button 
{
	font-family:Tahoma;
	font-size:X-Small;
	font-weight:bold;
	z-index:18;
	padding:-2;
	margin:-2;
	height:20px;
}

.widgetButton 
{
	font-family:Tahoma;
	font-size:X-Small;
	font-weight:bold;
	z-index:18;
	padding:-2;
	height:20px;
}



#widgetList 
{
	position:absolute;
	color: #000;
	overflow:auto;
	overflow-x:hidden;
	background:transparent;
	margin:2px;
	top: 43px;
	left: -2px;
	height:523px;
	width: 797px;
}


.widgetSpacer 
{
	height: 3px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#6699bb', EndColorStr='#ffffff');
	font-size: 1pt;
	width:100%;
}

.widget 
{
	background:#aaa;	
	width:766px;
	padding:3px;
	border: 1.0px solid #000;
	vertical-align:top;
	text-align:left;
	
}

.widget a,a 
{
	text-decoration:none;
	font-weight:bold;
	color:#0F25C8;	
}

.widget a:hover,a:hover  
{
	text-decoration:underline;
}
.cL a, .cL a:visited,a:visited 
{
	text-decoration:none;
	font-weight:bold;
	color:#0F25C8;	
}

.cL a:hover, a:hover
{
	text-decoration:underline;
}

#searchLink 
{
	visibility:hidden;
}

.cL 
{
	padding-left: 2px;
}

.cI
{
	padding-left: 12px;
	background: #fff;
}
	
.xNT,.xNDT,.dT1 .xNT,.dT1 .xNDT,.dT1 .nNT,.dT1 .nNTC,.dT1 .pNTC,.dT1 .nNDT,.dT1 .pNT,.dT1 .pNDT,.dT1 .lNT,.dT1 .lNDT,.dT1 .lNDTC,.dT1 .noteText,.dT1 .noteDateText,.dT1 .noteDateTextC,.dT1 .lcNT,.dT1 .lcNDT,.dT1 .lcNDTC,.dT1,.dT1 .futureAlert,.futureAlert,.dT1 .completedAlert,.dT1 .removedAlert,.completedAlert,.removedAlert
{ 
	font-weight:normal;
	background: #fff;
	border-right:solid 1.0px #aaa;
	border-bottom:solid 1.0px #aaa;
	vertical-align:top;
	padding: 3px 1px 0 2px;
	word-wrap:break-word;
	margin-bottom:-1px;

}
.dT1 .nNT,.dT1 .nNDT, .nNT,.nNDT,.dT1 .futureAlert,.futureAlert
{ 
	background:  #DDE4EA url(../../Images/note_b.gif) repeat-x;
}
.dT1 .nNTC,.nNTC
{ 
	background: #DDE4EA url(../../Images/note_b.gif) repeat-x;
	text-align:center;
}
.dT1 .removedAlert,.removedAlert
{ 
	background:  #eee;
}
.dT1 .pNTC
{ 
	background: #F2D3D5 url(.../../Images/note_r.gif) repeat-x;
	text-align:center;
}
.dT1 .noteDateTextC
{ 
	background: #ffffff;
	text-align:center;
}
.xNT,.xNDT
{ 
	background: #ffffff !important;
}
.dT1 .noteText,.dT1 .noteDateText
{ 
	background: #ffffff;
}

.dT1 .pNT,.dT1 .pNDT
{ 
	background: #F2D3D5 url(../../Images/note_r.gif)  repeat-x;
}
.    .lNT,.dT1 .lNDT
{ 
	background: #FFE891 url(../../Images/note_l.gif)  repeat-x;
}
.dT1 .lNDTC
{ 
	text-align:center;
	background: #FFE891 url(../../Images/note_l.gif)  repeat-x;
}
.dT1 .lNDTCrev
{ 
	text-align:center;
	background: #FFE891 url(../../Images/note_l.gif)  repeat-x;
}
.dT1 .lNDTrev,.dT1 .lNTrev
{ 
	background: #FFE891 url(../../Images/note_l.gif)  repeat-x;
}
.dT1 .lcNDTC
{ 
	text-align:center;
	background: #F9F4E3 url(../../Images/note_lc.gif)  repeat-x;
}
.dT1 .lcNDTCrev
{ 
	text-align:center;
	background: #F9F4E3 url(../../Images/note_lc.gif)  repeat-x;
}
.dT1 .lcNDTrev,.dT1 .lcNTrev
{ 
	background: #F9F4E3 url(../../Images/note_lc.gif)  repeat-x;
}
.dT1 .lcNT,.dT1 .lcNDT
{ 
	background: #F9F4E3 url(../../Images/note_lc.gif)  repeat-x;
}


.widgetWidth
{
	width: 100%;
	  
}

.AddNewButton
{
	border-right: #225577 1px solid;
	font-weight: bold;
	background: #ccc;
	color: #000;
	border-bottom: #225577 1px solid;
	text-align: right;
}
.dataInHeader 
{
	font-weight:bold;
	color:#000;
	text-align: left;
	vertical-align: baseline;
}

.noteTextArea
{ 
	border-style: none; 
	border:0;
	border-collapse:collapse;
	text-align: left; 
	padding:0;
	margin:0;
	overflow:visible;
	vertical-align:top;
	 }
.pNTArea
{ 
	background: #FDB7BA;
	border-style: none; 
	border:0;
	border-collapse:collapse;
	text-align: left; 
	padding:0;
	margin:0;
	overflow:visible;
	word-wrap:break-word;

	vertical-align:top;
	 }
.lNTArea
{ 
	background: #FED95F;
	border-style: none; 
	border:0;
	border-collapse:collapse;
	text-align: left; 
	padding:0;
	margin:0;
	overflow:auto;
	word-wrap:break-word;

	vertical-align:top;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;

 }
.lcNTArea
{ 
	background: #FDECB5;
	border-style: none; 
	border:0;
	border-collapse:collapse;
	text-align: left; 
	padding:0;
	margin:0;
	overflow:visible;
	vertical-align:top;
		 }
.info{
    position:relative; /*this is the key*/
    background-color:#ccc;
    color:#000;
    text-decoration:none}

.info:hover{ background-color:#ff0}

.info span{display: none}

.info:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:2em; left:2em; width:15em;
    border:1px solid #0cf;
    background-color:#cff; color:#000;
    text-align: center}

.pod{
position:absolute;
top:21px;
right:152px;
font-size:13px;
font-weight:bold;
color:#fff;
background-color:#046DB8;
border:solid 3px #E1BF16;
padding:0px 4px 0px 4px;
filter:progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color='#225577', Positive='true');
}

.printAllContents {
overflow:auto;
overflow-x:hidden;
}
