body{ 
    
	padding:0; 
	border:0; 
	margin:0; 
	font-family:Arial;
    font-size: 14px;
	color:#000; 
    
    background: red;
}
#searchFrame{display: none;}
#detailFrame{
	font-size: 9pt;
	width: auto;
	border: 0;
	margin: 0 5%;
	padding: 0;
	float: none !important;
}
.detailMenu{display: none;}
.detailMenu li{display: none;}
.detailMenu li a{display: none;}	
.detailMenu .detailMenuRow1{display: none;}
.detailMenuRow1 li a:hover{display: none;}
.detailMenuRow2{display: none;}
.detailMenuRow2 li a:hover{display: none;}
.searchMenu{display: none;}
.searchMenu li{display: none;}
.searchMenu li a{display: none;}	
.searchMenu .searchMenuRow1{display: none;}
.searchMenuRow1 li a:hover{display: none;}
#selectedPage{display: none;}	
#selectedDetailMenu{display: none;}	
.titleBar{
	font-size:8pt;
	font-weight:bold;
	text-align:left;
	color:#000000;
	padding: 2px 0px 0px 8px;
	vertical-align:middle;
	border-bottom: 2px solid #999;
    background-color: #ffffff;
}	
.table-header{
	font-size:12px;
	font-weight:bold;
	text-align:left;
	color:#000000;
	padding: 2px 0px 0px 8px;
	vertical-align:middle;
	border-bottom: 2px solid #999;
    background: red;
}	
.searchTable{display: none;}	
.logo{display: none;}		
#bg{display: none;}
.searchButton{display: none;} 	
#widgetMenu{display: none;}
#searchCriteriaFrame{display: none;}	
#searchResultFrame{display: none;}
.containerTable{display: none;}
.resultList{display: none;}
.resultList hr{display: none;}
.resultList a{
	font-weight: 600;
}
.bodyText{
	font-size: 6pt;
	padding: 0px;
	width: 100%;
	vertical-align: baseline;
	font-weight: 500;
}		
.bL{
	font-size: 6pt;
	padding: 0px;
	text-align: right;
	vertical-align: baseline;
}		
.bLC{
	font-size: 6pt;
	padding: 0px;
	text-align: center;
	vertical-align: baseline;
}
.dL {
    font-size:6pt;
}
	
.detailWidgetList{
	text-align: left;
	overflow: auto;
	border: 0;
}
.dT1{
    width:100%;
    font-size:6pt;

}
.dTable {
font-size:6pt;
}
.dataTable2{
}
.dT{
	text-align: left;
	vertical-align: top;
    font-size:6pt;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
}
.dTR{
	text-align:right;
	vertical-align:top;
    font-size:6pt;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	}

.dTC{
	text-align:center;
	vertical-align:top;
    font-size:6pt;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
}
.dHeader {
font-size:8pt;
}
.dHC{
	font-family:Arial;
	font-size:6pt;
	font-weight:bold;
	text-align:center;
	vertical-align:bottom;
	background-color: #aaa;
	border-right: solid 1.0px #999;
	border-bottom:solid 1.0px #999;
}


.detailWidget{
	width: 100%;
	padding: 0px;
	border: 1px;
}
.detailOuterContainer{
	padding: 0px;
	border: 1px;
}
#currentLoc{
}
.detailContainer {
	padding: 0px;
	border: 1px;
}
.detailSpacer{
	height: 1px;
	font-size: 0.1pt;
}
.nNT,.nNDT,.pNT,.pNDT,.lNT,.lNDT,.lcNT,.lcNDT
{ 
	font-family: Arial;
	font-size: 6pt;
	background: #ccddee;
	border-right:solid 1.0px #225577;
	border-bottom:solid 1.0px #225577;
	vertical-align:top;
	padding:0px 0px 0px 12px;

}
.nNDT,.pNDT,.lNDT,.lcNDT
{ 
	padding:0px 0px 0px 0px;
}
.pNT,.pNDT
{ 
	background: #FDB7BA;
}
.lNT,.lNDT
{ 
	background: #FCE69D;
}

.lcNT,.lcNDT
{ 
	background: #FCE69D;
}


.cnoteText{ 
	vertical-align:top;
	padding:0px 0px 0px 22px;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
}
.cnoteDateText{ 
	text-align:center;
	vertical-align:top;
	padding:0px 0px 0px 0px;
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
}
SPAN.doNotPrint,.doNotPrint{
display: none;
}

.plapt{
	text-decoration:none;
	font-weight:bold;
	color:#000000;	
}

.noteTextArea
{ 
	font-size: 6pt; 
	border-style: none; 
	border:0;
	border-collapse:collapse;
	border-color:#FFFFFF;
	font-family: Arial; 
	text-align: left; 
	padding:0;
	margin:0;
	overflow:visible;
	vertical-align:top;
	 }

.wmImg {
display:none;
visibility:hidden;
}
.wmImgOn {
display:none;
visibility:hidden;
}
.widgetMenu3 {
display:none;
visibility:hidden;
}
.printAllContents {
overflow:visible;
height:auto;
}

.dTable {vertical-align: top;}
.aligntop {vertical-align: top; border:thin;}

.LMSurveyPrint {
    font-size:8pt;
    font-weight:100;
}
.tableTitle3 {
       font-size:8pt;
       border-bottom: solid 1px #999;
	   border-right: solid 1px #999;
}

.fltleft {font-weight: bold; color: #fff; float: left;}
.flt_rgt {font-weight: bold; color: #fff; float: right;}
