﻿
                                    
<script id="contactOverviewTemplate" type="x-kendo-template">
    <tr>
        <td colspan="3" style="padding: 0px;">
            <div style="width: 65%; float: left;">
                <div style="width: 30%; float: left;">
                    <div class="widget" style="margin-bottom: -2px;">
                        <div class="wContent print">
                            <div class="wContentInner" style="padding: 0px;">
                                <input type="hidden" name="contactPageTitle" id="contactPageTitle" value='#=data.Id# #=data.Name# - #=data.Address#' />
                                <table id="contactOverview" class="table table-bordered">
                                    <tbody id="contactOverviewbody">
                                        <tr>
                                            <td class="lable">#=data.Name#</td>
                                        </tr>
                                        #if (data.Contact != "")
                                        {#
                                        <tr>
                                            <td class="cI">#=data.Contact#</td>
                                        </tr>
                                        #}
                                        if (data.Address1 != "")
                                        {#
                                        <tr>
                                            <td class="cI">#=data.Address1#</td>
                                        </tr>
                                        #}
                                        if (data.Address2 != "")
                                        {#
                                        <tr>
                                            <td class="cI">#=data.Address2#</td>
                                        </tr>
                                        #}
                                        if (data.Address3 != " ")
                                        {#
                                        <tr>
                                            <td class="cI">#=data.Address3#</td>
                                        </tr>
                                        #}
                                        if (data.City!= "")
                                        {#
                                        <tr>
                                            <td class="cI">#=data.City#, #=data.State# #=data.Zip#</td>
                                        </tr>
                                        #}
                                        if (data.Phone1_Fmt!="")
                                        {#
                                        <tr>
                                            <td class="cI">#=data.Phone1_Fmt#</td>
                                        </tr>
                                        #}
                                        if (data.Phone2_Fmt!="")
                                        {#
                                        <tr>
                                            <td class="cI">#=data.Phone2_Fmt#</td>
                                        </tr>
                                        # }#
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 30%; float: left; padding-right: 5px; padding-left: 5px;">
                    <div class="widget" style="margin-bottom: -2px;">
                        <div class="wContent print">
                            <div class="wContentInner" style="padding: 0px;">
                                <table id="contactOverview1" class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="lable">Active Locs:</td>
                                            #if (data.ActiveLocs != "")
                                            {#
                                            <td id="activeLoc" class="dT"><b>#=data.ActiveLocs#</b></td>
                                            #}
                                            else
                                            {#
                                            <td id="activeLoc" class="dT">&nbsp;</td>
                                            #}#
                                        </tr>
                                        <tr>
                                            #if (data.ContactName!="")
                                            {#
                                            <td class="lable">#=data.ContactName# \\#:</td>
                                            #}
                                            else
                                            {#
                                            <td class="dL">#=data.ContactName#:</td>
                                            #}#
                                            <td class="dT"><b>#=data.Id#</b></td>
                                        </tr>       
                                        #if (data.TaxId !="")
                                        {#
                                        <!-- <tr>
                                            <td class="lable">Tax ID:</td>
                                            #if (data.TaxId !="")
                                            {#
                                            <td class="dT"><b>#=data.TaxId#</b></td>
                                            #}
                                            else
                                            {#
                                            <td class="dT"><b>-None-</b></td>
                                            #}#
                                        </tr>-->
                                        <tr>
                                            <td class="lable">Exempt:</td>
                                            #if (data.TaxId !="")
                                            {#
                                            <td class="dT"><b>#=data.TaxExempt#</b></td>
                                            #}#
                                        </tr>
                                        #}#           
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 15%; float: left;">
                    <div class="widget" style="margin-bottom: -2px;">
                        <div class="wContent print">
                            <div class="wContentInner" style="padding: 0px;">
                                <table id="masterCard" class="table table-bordered" style="display: none">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 33.3%; float: right;">
                <div class="widget" style="margin-bottom: -2px;">
                   <div class="wContent print">
                        <div class="wContentInner" style="padding: 0px;">
                            <table id="Table7" class="table table-bordered" style="display: none">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</script> 



                                    <script id="contactOverviewTemplate1" type="x-kendo-template">
                                        <tr>
                                            <td  class="lable">Active Locs:</td>
                                            #if (ActiveLocs != "")
                                            {#
                                            <td id="activeLoc" class="dT"><b>#=ActiveLocs#</b></td>
                                            #}
                                            else
                                            {#
                                            <td id="activeLoc" class="dT">&nbsp;</td>
                                            #}#
                                        </tr>
                                        <tr>
                                            #if (ContactName!="")
                                            {#
                                            <td class="lable">#=ContactName# \\#:</td>
                                            #}
                                            else
                                            {#
                                            <td class="dL">#=ContactName#:</td>
                                            #}#
                                            <td class="dT"><b>#=Id#</b></td>
                                        </tr>               
                                        #if (TaxId !="")
                                        {#
                                        <!--<tr>
                                            <td class="lable">Tax ID:</td>
                                            #if (TaxId !="")
                                            {#
                                            <td class="dT"><b>#=TaxId#</b></td>
                                            #}
                                            else
                                            {#
                                            <td class="dT"><b>-None-</b></td>
                                            #}#
                                        </tr>-->
                                        <tr>
                                            <td class="lable">Exempt:</td>
                                            #if (TaxId !="")
                                            {#
                                            <td class="dT"><b>#=TaxExempt#</b></td>
                                            #}#
                                        </tr>
                                        #}#                        
                                    </script>
                                    <script id="mastercardtemplate" type="x-kendo-template">
                                        <tr>
                                            <td>
                                                <a href="javascript:void(0);" onclick="cmsPage('#=data.CMSURL#');" onmouseout="    window.status = '';" onmouseover="    window.status = 'open CMS system in a new window'; return true;" title="open CMS system in a new window" class="doNotPrint">
                                                    <img src="/eledger2/Images/mcd_0.gif" onload="" title="open Mastercard detais in a new window" height="41" border="0" width="100">
                                                </a>
                                            </td>
                                        </tr>
                                    </script>
<script id="relatedContactTemplate" type="x-kendo-template">
                                        <tr class="searchuln">
                                            #if(data.RelationType!="")
                                            {#
                                            <td>#=data.RelationType#</td>
                                            #}
                                            else
                                            {#
                                            <td></td>
                                            #}
                                            if(data.ULN!="")
                                            {#
                                            <td><a href='\\#getLocDetail/#=data.ULN#'  title="view Location details for '#=data.ULN#'">#=data.ULN#</a></td>
                                            #}
                                            else
                                            {#
                                            <td></td>
                                            #}
                                            if(data.PropertyName!="")
                                            {#
                                            <td>#=data.PropertyName#</td>
                                            #}
                                            else
                                            {#
                                            <td></td>
                                            #}
                                            if(data.PropertyAddress!="")
                                            {#
                                            <td>#=data.PropertyAddress#</td>
                                            #}
                                            else
                                            {#
                                            <td></td>
                                            #}
                                            if(data.PropertyCity!="")
                                            {#
                                            <td>#=data.PropertyCity#</td>
                                            #}
                                            else
                                            {#
                                            <td></td>
                                            #}
                                            if(data.PropertyState!="")
                                            {#
                                            <td>#=data.PropertyState#</td>
                                            #}
                                            else
                                            {#
                                            <td></td>
                                            #}
                                            if(data.PropertyZip!="")
                                            {#
                                            <td>#=data.PropertyZip#</td>
                                            #}
                                            else
                                            {#
                                            <td></td>
                                            #}
                                            if(data.PropertyStatus!="")
                                            {#
                                            <td>#=data.PropertyStatus#</td>
                                            #}
                                            else
                                            {#
                                            <td></td>
                                            #}#
                                        </tr>
                                    </script>
<script id="contactMasterSummaryTemplate" type="x-kendo-template">
                                        <tr class="searchuln">
                                            #if(data.CommentDate !="")
                                            {#
                                            <td style="width:7%"> #=data.CommentDate#</td>
                                            #}
                                            else
                                            {#
                                            <td style="width:7%"></td>
                                            #}
                                            if(data.Comments!="")
                                            {#
                                            <td style="width:70%">#=data.Comments#</td>
                                            #}
                                            else
                                            {#
                                            <td style="width:70%"></td>
                                            #}
                                            if(data.UserName!="")
                                            {#
                                            <td style="width:10%">#=data.UserName#</td>
                                            #}
                                            else
                                            {#
                                            <td style="width:10%"></td>
                                            #}#
                                        </tr>
                                    </script>