﻿
<tr>
    <td style="font-family: Verdana,Arial,sans-serif;line-height: 140%; font-size: 97%;">
        #if(Name !="")
        {#
        <a href='\\#getConDetail/#=Id#' title="#=Name# #=Id#" >
            <font color=blue>#=Name#</font>
        </a>
        <br>Vendor Id: #=Id#
        #}
        else
        {#
        <a href='\\#getConDetail/#=Id#'  title="#=Name# #=Id#" >
            <font color=blue>Vendor Id: #=Id#</font>
        </a>
        #}#
    </td>
</tr>


