﻿<script id="LocationResultsTemplate" type="text/x-kendo-template">

    <tr>
        #if (Status == 'Installed') {
        if(PropertyName !="")
        {#
        <td style="font-family: Verdana,Arial,sans-serif; font-size: 90%;"><a onclick='loactionResult("#=ULN#")'><font color=blue>#=ULN#</font></a><br>#=PropertyName#<br>#=Address#<br>#=City# &nbsp, #=State# &nbsp #=Zip#</td>
        #}
        else if (Address != "")
        {#
        <td style="font-family: Verdana,Arial,sans-serif; font-size: 90%;"><a onclick='loactionResult("#=ULN#")'><font color=blue>#=ULN#</font></a><br>#=Address#<br>#=City# &nbsp, #=State# &nbsp #=Zip#</td>
        #}
        else{#

        <td style="font-family: Verdana,Arial,sans-serif; font-size: 90%;">
            <a onclick='loactionResult("#=ULN#")'><font color=blue>#=ULN#</font></a><br>#=City# &nbsp, #=State# &nbsp #=Zip#
        </td>
        #}
        }
        else{
        if(PropertyName !="")
        {#
        <td style="font-family: Verdana,Arial,sans-serif; font-size: 90%;"><a onclick='loactionResult("#=ULN#")'><font color=blue>#=ULN#</font></a><br>#=PropertyName#<br>#=Address#<br>#=City# &nbsp, #=State# &nbsp #=Zip#</td>
        #}
        else if (Address != "")
        {#
        <td style="font-family: Verdana,Arial,sans-serif; font-size: 90%;"><a onclick='loactionResult("#=ULN#")'><font color=red>#=ULN#</font></a>-(#=Status#)<br>#=Address#<br>#=City# &nbsp, #=State# &nbsp #=Zip#</td>
        #}
        else
        {#
        <td style="font-family: Verdana,Arial,sans-serif; font-size: 90%;"><a onclick='loactionResult("#=ULN#")'><font color=red>#=ULN#</font></a>-(#=Status#)<br>#=City# &nbsp, #=State# &nbsp #=Zip#</td>
        #}
        }#
    </tr>
</script>
<script id="ContactResultsTemplate" type="text/x-kendo-template">
    <tr>
        <td style="font-family: Verdana,Arial,sans-serif; font-size: 90%;"><a onclick='getContactOverview("#=Id#")'><font color=blue>#=Name#</font></a><br>Vendor Id: #=Id#</td>
    </tr>
</script>
<script id="AlertsResultsTemplate" type="text/x-kendo-template">
    #if (SubType == "")
    {#
    <input type="hidden" id="alertstatus" />
    <input type="hidden" id="alertsubtype" />
    <table border="0" cellspacing="0" cellpadding="0" style="margin-left: 2px; margin-right: 20px;">
        <tr>
            <td style="font-size: 12px; white-space: nowrap;">
                <a href="javascript:void(0);" onclick="showAlertSearchDetails('#=DisplayText#','All');" onmouseout="window.status=''" class="cL plapt" onmouseover="window.status=''; return true;">
                    #if (CategoryCount == 0)
                    {#
                    #=DisplayText#
                    #}
                    else
                    {#
                    (#=DisplayText#  Alerts)
                    #}#
                </a>
            </td>
            <td style="font-size: 12px; white-space: nowrap; width: 100%;">
                <span style="border-bottom-style: dotted; border-width: 0 0 1px 0; border-color: \\#555; margin-left: 6px; margin-right: 12px; zoom: 1; width: 100%;"></span>
            </td>
            <td style="font-size: 11px; white-space: nowrap; text-align: right; font-weight: normal;">(<span style="font-weight: bold;">#=CategoryCount#</span>)</td>
        </tr>
    </table>
    #}#
    #if (SubType != "")
    {#
    <table border="0" cellpadding="0" cellspacing="0" style="background: \\#eee; margin-left: 12px; margin-right: 20px;">
        <tr>
            <td width="170px">
                #if ((DisplayText != "Future") && (DisplayText != "History"))
                {#
                <table border="0" cellspacing="0" cellpadding="0" style="margin-top: -1px; margin-left: 0; margin-right: 0;">
                    <tr>
                        <td style="font-size: 11px; white-space: nowrap; font-weight: normal;">
                            <a href="javascript:void(0)" onclick="showAlertSearchDetails('#=DisplayText#','#=SubType#'); return true;" onmouseout="window.status=''" class="cL plapt" onmouseover="window.status=''; return true;">#=DisplayText#</a>
                        </td>
                    </tr>
                </table>
                #}#
                <table border="0" cellspacing="0" cellpadding="0" style="margin-top: -1px; margin-left: 12px; margin-right: 0;">
                    <tr>
                        <td style="font-size: 11px; white-space: nowrap; font-weight: normal;">
                            <a href="javascript:void(0)" onclick="showAlertSearchDetails('#=DisplayText#','#=SubType#'); return true;" onmouseout="window.status=''" class="cL plapt" onmouseover="window.status=''; return true;" style="font-weight: normal;">#=SubType#</a>
                        </td>
                        <td style="font-size: 11px; white-space: nowrap; width: 100%;">
                            <span style="border-bottom-style: dotted; border-width: 0 0 1px 0; border-color: \\#555; margin-left: 6px; margin-right: 12px; zoom: 1; width: 100%;"></span>
                        </td>
                        <td style="font-size: 11px; white-space: nowrap; text-align: right; font-weight: normal;">
                            (<span style="font-weight: bold;">#=CategoryCount#</span>)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    #}#
</script>
<script id="AlertsSearchResultsTemplate" type="text/x-kendo-template">
    <tr>
        #if(PropertyName !="")
        {#
        <td style="font-family: Verdana,Arial,sans-serif; font-size: 90%;"><a onclick='loactionResult("#=ULN#")'><font color=blue>#=ULN#</font></a><br>#=PropertyName#<br>#=Address#<br>#=City# &nbsp, #=State# &nbsp #=Zip#</td>
        #}
        else if (Address != "")
        {#
        <td style="font-family: Verdana,Arial,sans-serif; font-size: 90%;"><a onclick='loactionResult("#=ULN#")'><font color=blue>#=ULN#</font></a><br>#=Address#<br>#=City# &nbsp, #=State# &nbsp #=Zip#</td>
        #}
        else{#
        <td style="font-family: Verdana,Arial,sans-serif; font-size: 90%;">
            <a onclick='loactionResult("#=ULN#")'><font color=blue>#=ULN#</font></a><br>#=City# &nbsp, #=State# &nbsp #=Zip#
        </td>
        #} #

    </tr>
</script>
