<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Access Denied</title>
</head>
<body MS_POSITIONING="GridLayout">
		<table id="Table2">
			<tr>
				<td id='Td1' width="70"  valign="top" align="right">
                    <br />
                    <img src="/eledger2/Images/pagerror.png" alt="X" />
				</td>
				<td id='Td2' width="400" align="left">
				    <br/>
					<h1 id="H1_1" style='FONT:14pt/16pt verdana; COLOR:#4e4e4e'>
					    Access Denied
					</h1>
				    <hr size="1" color='blue'/>
				    <br/>
					<font style='FONT:9pt/12pt verdana; COLOR:black'>
					    You do not have sufficient access to view the requested page.<br />
						<br />
						<strong>Note:</strong> If you feel you have reached this page in error, please contact the IT Service Desk.<br />
					<br/>
					Tell them your user name is: <b><%= User.Identity.Name %></b> 
				    <br/>
					</font>
				</td>
			</tr>
		</table>
	</body>
</html>
